body {
  background-color: rgb(168, 219, 219);
  color: black;
  margin: 0 auto;
}

img {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-bottom: dotted darkmagenta 5px;
}

/* Use CTRL / for a shortcut to leave a comment */

header {
  background: black;
  color: rgb(168, 219, 219);
  padding: 30px 0;
  text-align: center;
}

.intro {
  margin: 100px auto;
  width: 500px;
  text-align: center;
}

.my-skills {
  background-color:rgb(4, 5, 7);
  color:rgb(168, 219, 219);
  padding: 75px 0;
  text-align: center;
}

.columns {
  display: flex;
  margin: 0 10px;
}

.column {
  border: 2px solid green;
}

footer {
  text-align: center;
  color: black;
}